In [21]:
import pandas as pd

## 1. Import Data

In [22]:
df = pd.read_csv('ramen-ratings.csv')

# 2. Inspect a portion of the dataset

In [23]:
df.head()

   Review #      Brand                    Variety Style Country Stars Top Ten
0      2580  New Touch  T's Restaurant Tantanmen    Cup   Japan  3.75     NaN
1      2580  New Touch  T's Restaurant Tantanmen    Cup   Japan  3.75     NaN
2      2580  New Touch  T's Restaurant Tantanmen    Cup   Japan  3.75     NaN
3      2580  New Touch  T's Restaurant Tantanmen    Cup   Japan  3.75     NaN
4      2580  New Touch  T's Restaurant Tantanmen    Cup   Japan  3.75     NaN

In [24]:
df.tail(10)

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
2574,10,Smack,Vegetable Beef,Pack,USA,1.5,NaN
2575,9,Sutah,Cup Noodle,Cup,South Korea,2,NaN
2576,8,Tung-I,Chinese Beef Instant Rice Noodle,Pack,Taiwan,3,NaN
2577,7,Ve Wong,Mushroom Pork,Pack,Vietnam,1,NaN
2578,6,Vifon,Nam Vang,Pack,Vietnam,2.5,NaN
2579,5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5,NaN
2580,4,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1,NaN
2581,3,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2,NaN
2582,2,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2,NaN
2583,1,Westbrae,Miso Ramen,Pack,USA,0.5,NaN

# 3. Shape and Basic Info about the dataset

In [25]:
df.shape

(2584, 7)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2584 entries, 0 to 2583
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Review #  2584 non-null   int64
 1   Brand     2584 non-null   object
 2   Variety   2584 non-null   object
 3   Style     2582 non-null   object
 4   Country   2584 non-null   object
 5   Stars     2584 non-null   object
 6   Top Ten   41 non-null     object
dtypes: int64(1), object(6)
memory usage: 141.4+ KB

In [27]:
#df.Stars.value_counts().sort_values().
df.Stars.unique()

array(['3.75', '1', '2.25', '2.75', '4.75', '4', '0.25', '2.5', '5',
       '4.25', '4.5', '3.5', 'Unrated', '1.5', '3.25', '2', '0', '3',
       '0.5', '4.00', '5.0', '3.50', '3.8', '4.3', '2.3', '5.00', '3.3',
       '4.0', '3.00', '1.75', '3.0', '4.50', '0.75', '1.25', '1.1', '2.1',
       '0.9', '3.1', '4.125', '3.125', '2.125', '2.9', '0.1', '2.8',
       '3.7', '3.4', '3.6', '2.85', '3.2', '3.65', '1.8'], dtype=object)

# 4. Look for Duplicates

In [28]:
#df.duplicated()
df.duplicated().sum()

4

In [32]:
df.drop_duplicates(inplace = True)
df

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
5,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
6,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
7,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
8,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN
...,...,...,...,...,...,...,...
2579,5,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5,NaN
2580,4,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1,NaN
2581,3,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2,NaN
2582,2,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2,NaN
2583,1,Westbrae,Miso Ramen,Pack,USA,0.5,NaN

# 5. Fix Types

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2580 entries, 0 to 2583
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Review #  2580 non-null   int64
 1   Brand     2580 non-null   object
 2   Variety   2580 non-null   object
 3   Style     2578 non-null   object
 4   Country   2580 non-null   object
 5   Stars     2580 non-null   object
 6   Top Ten   41 non-null     object
dtypes: int64(1), object(6)
memory usage: 161.2+ KB

In [40]:

#replacing the unrated value 
#df.Stars.replace("Unrated", pd.nan)
df.Stars.replace("Unrated", 0, inplace = True)

df[ df.Stars == "Unrated"]

Empty DataFrame
Columns: [Review #, Brand, Variety, Style, Country, Stars, Top Ten]
Index: []

In [48]:
#changing data type method 1
df.Stars = pd.to_numeric(df.Stars)

In [50]:
#changing data type method 2
df.Stars.astype(Float)

NameError: name 'Float' is not defined

# 6. Summarise Numeric Columns

In [51]:
df.describe()

          Review #        Stars
count  2580.000000  2580.000000
mean   1290.500000     3.650426
std     744.926171     1.022358
min       1.000000     0.000000
25%     645.750000     3.250000
50%    1290.500000     3.750000
75%    1935.250000     4.250000
max    2580.000000     5.000000

# 7. Summarise Categorical Columns

In [52]:
df.columns

Index(['Review #', 'Brand', 'Variety', 'Style', 'Country', 'Stars', 'Top Ten'], dtype='object')

In [53]:
df.Brand.value_counts()

Nissin            381
Nongshim           98
Maruchan           76
Mama               71
Paldo              66
                 ...
Right Foods         1
Sokensha            1
Daraz               1
Nakaya Shouten      1
Chikara             1
Name: Brand, Length: 355, dtype: int64

In [56]:
df.Variety.value_counts()

Beef                                               7
Chicken                                            7
Yakisoba                                           6
Artificial Chicken                                 6
Vegetable                                          6
                                                  ..
Spice Seafood                                      1
Instant Cup Noodles Seafood Pad Kee Mao Flavour    1
Demae Iccho XO Sauce Seafood Flavour               1
Disney Cuties Instant Noodle Roast Pork Flavour    1
Supreme Seafood Flavor Big Cup                     1
Name: Variety, Length: 2413, dtype: int64

In [57]:
df.Country.value_counts()

Japan            352
USA              323
South Korea      309
Taiwan           224
Thailand         191
China            169
Malaysia         156
Hong Kong        137
Indonesia        126
Singapore        109
Vietnam          108
UK                69
Philippines       47
Canada            41
India             31
Germany           27
Mexico            25
Australia         22
Netherlands       15
Myanmar           14
Nepal             14
Pakistan           9
Hungary            9
Bangladesh         7
Colombia           6
Brazil             5
Cambodia           5
Holland            4
Fiji               4
Poland             4
Dubai              3
Sweden             3
Finland            3
Sarawak            3
Estonia            2
Ghana              2
United States      1
Nigeria            1
Name: Country, dtype: int64

In [68]:
#there are multiple entries of the US in different ways, this should fix it
#df[df.Country == "United States"]

df.loc[578, "Country"] = "USA"

#df[df.Country == "United States"]

df.loc[578]

Brand                           Kamfen
Variety    Wonton Noodles Beef Flavour
Style                             Bowl
Country                            USA
Stars                             3.75
Top Ten                            NaN
Name: 578, dtype: object

# 8. Drop and Rename Columns

In [58]:
df.columns

Index(['Review #', 'Brand', 'Variety', 'Style', 'Country', 'Stars', 'Top Ten'], dtype='object')

In [59]:
#axis 1 is a column
df = df.drop("Review #", axis = 1)
df

,Brand,Variety,Style,Country,Stars,Top Ten
0,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
5,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1.00,NaN
6,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
7,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
8,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN
...,...,...,...,...,...,...
2579,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.50,NaN
2580,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1.00,NaN
2581,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2.00,NaN
2582,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2.00,NaN
2583,Westbrae,Miso Ramen,Pack,USA,0.50,NaN

In [69]:
df.columns

Index(['Brand', 'Variety', 'Style', 'Country', 'Stars', 'Top Ten'], dtype='object')

In [72]:
#because there is a space in the column Top Ten, you can use .
df.columns = ['Brand','Variety', 'Style', 'Country', 'Stars', 'TopTen']
df

,Brand,Variety,Style,Country,Stars,TopTen
0,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
5,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1.00,NaN
6,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
7,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
8,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN
...,...,...,...,...,...,...
2579,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.50,NaN
2580,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1.00,NaN
2581,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2.00,NaN
2582,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2.00,NaN
2583,Westbrae,Miso Ramen,Pack,USA,0.50,NaN

# 9. Deal with Nulls

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2580 entries, 0 to 2583
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Brand    2580 non-null   object
 1   Variety  2580 non-null   object
 2   Style    2578 non-null   object
 3   Country  2580 non-null   object
 4   Stars    2580 non-null   float64
 5   TopTen   41 non-null     object
dtypes: float64(1), object(5)
memory usage: 221.1+ KB

In [75]:
df.TopTen.value_counts()

\r\n        4
2014 #9     1
2012 #5     1
2015 #10    1
2016 #10    1
2013 #6     1
2014 #10    1
2012 #2     1
2012 #4     1
2014 #6     1
2016 #7     1
2016 #1     1
2013 #10    1
2014 #1     1
2013 #2     1
2014 #4     1
2012 #6     1
2013 #4     1
2015 #4     1
2012 #1     1
2015 #1     1
2016 #5     1
2014 #7     1
2016 #9     1
2013 #1     1
2015 #7     1
2012 #3     1
2013 #9     1
2016 #8     1
2015 #8     1
2012 #9     1
2015 #6     1
2014 #5     1
2013 #3     1
2015 #9     1
2012 #7     1
2014 #8     1
2012 #10    1
Name: TopTen, dtype: int64

In [77]:
df.TopTen.fillna(0, inplace = True)

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2580 entries, 0 to 2583
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Brand    2580 non-null   object
 1   Variety  2580 non-null   object
 2   Style    2578 non-null   object
 3   Country  2580 non-null   object
 4   Stars    2580 non-null   float64
 5   TopTen   2580 non-null   object
dtypes: float64(1), object(5)
memory usage: 221.1+ KB

# 10. Group and Order